:root {
    --cbgc: #777777;
    --fadet: .5;
    --linkc: #e8ce8e;
    --textc: #ffffff;
    --bgc: #aaaaaa;
    --bgt: #aaaaaa00; /*same hex code + 00*/
    --navc: #999999bb;
    --navch: #99999922;
    --fadeg: rgba(var(--bgr), var(--bgg), var(--bgb), var(--fadet)); /* moreeee */
}
