:root {
    --bgr: 59;
    --bgg: 73;
    --bgb: 20;
    --cbgc: #777777;
    --fadet: .5;
    --linkc: #e8ce8e;
    --textc: #ffffff;
    --bgc: #aaaaaa;
    --navc: #999999bb;
    --navch: #99999922;
    /* --bgc: rgb(var(--bgr), var(--bgg), var(--bgb)); combined color */
    /* --bgt: rgba(var(--bgr), var(--bgg), var(--bgb), 0); hue with transparency for gradients idk
    --fadeg: rgba(var(--bgr), var(--bgg), var(--bgb), var(--fadet)); moreeee */
}
