:root {
    --cbgc: #d08178; /*content bg color*/
    --fadet: .5;
    --linkc: #e8ce8e;
    --textc: #ffffff;
    --bgc: #d6ae83; /*outer background color*/
    --bgt: #f9d9d900; /*same hex code + 00*/
    --navc: #999999bb; /*nav color*/
    --navch: #99999922; /*nav color on hover*/
}

@font-face {
    font-family: ambrosia;
    src: url(./fonts/AmbrosiacapCap001001-GK4g.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: bocklin;
    src: url(./fonts/Bocklin-2E0e.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: boecklinu;
    src: url(./fonts/Boecklinsuniverse-x3jKm.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: daveau;
    src: url(./fonts/DAVeau-Light.woff);
    font-style: normal;
}
@font-face {
    font-family: daveau;
    src: url(./fonts/daveau-lightitalic.woff);
    font-style: italic;
}
@font-face {
    font-family: merival;
    src: url(./fonts/MerivaleroundedRegularDemo-7OEWD.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: regalia;
    src: url(./fonts/RegaliaMonarchArtNouveau-q2OWl.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: rosehot;
    src: url(./fonts/Rosehot.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: thaloria;
    src: url(./fonts/Thaloria_Regular.otf);
    font-weight: normal;
    font-style: normal;
}

.fonttest {
    /* font-family: daveau, regalia, serif; */
    font-family: ambrosia;
    font-family: bocklin;
    font-family: boecklinu;
    font-family: merival;
    font-family: rosehot;
    font-family: thaloria;
    font-style: italic;
}

.title {
    font-family: daveau, regalia, serif;
    font-style: italic;
}

.obpHead, .authorHead {
    font-family: rosehot, Georgia, serif;
    font-style: italic;
}

p {
    font-family: Georgia, serif;
    font-family: rosehot, Georgia, serif;
}