
.name {
    text-transform: capitalize;
}

.as {
    font-size: .75em;
    font-style: italic;
}

.role {
    text-transform: capitalize;
}

.header {
    --grad: 15%;
    --gradend: 85%;
    /* background-image: linear-gradient(to top, var(--bgc) 0%, var(--bgt) var(--grad) var(--gradend), var(--bgc) 100%), linear-gradient(to right, var(--bgc) 0%, var(--bgt) var(--grad) var(--gradend), var(--bgc) 100%), url(../images/header.png); */
    /* without gradients */
    background-image: url(https://www.muchafoundation.org/media//w620h560/lithograph/L125_Times_of_the_Day_Morning_Awakening.jpg); 

    height: 30vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title{
    text-align: center;
    font-size: 4.5rem;
}

@media (max-width: 576px) {
    .title {
        font-size: 12vw;
    }
    .header {
        transform: translateZ(-1px) scale(2) translateY(-175px);
        /* --grad: 15%;
        --gradend: 85%;
        background-image: linear-gradient(to top, var(--bgc) 0%, var(--bgt) var(--grad) var(--gradend), var(--bgc) 100%), linear-gradient(to right, var(--bgc) 0%, var(--bgt) var(--grad) var(--gradend), var(--bgc) 100%), url(../images/IMG_0447.png); */

        height: 80vw;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: static;
        top: 0;
        z-index: 2;
        transform-origin: 51.5% 0 ;
    }
    
    .main {
        perspective: 1px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

}

.ctitle {
    text-align: center;
}

.subtitle {
    text-align: justify;
}

body {
    background-color: var(--bgc);
}

.content {
    transform: translateZ(0);
    position: relative;
    background-color: var(--cbgc);
    border-radius: .375rem;
    color: var(--textc);
    padding-left: 2em;
    padding-right: 2em;
}

a.active{
    background-color: var(--navc) !important;
}

a.nav-link, .input button {
    color: var(--textc) !important;
    transition: text-shadow 0.5s, background-color 0.5s;
}

a.nav-link:hover{
    background-color: var(--navch);
    text-shadow: 0 0 3px var(--textc);
}

.nav-pills a{
    margin-left: 3px;
}

a {
    color: var(--linkc);
    transition: text-shadow 0.5s;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 3px var(--linkc);
}


.crew-card, .cast-card {
    padding: 0;
    transition: max-height 1s ease;
    overflow: hidden;
    position: relative;
    border: 4px solid var(--textc);
}

.read-more {
    text-align: center;
    width: 100%;
    background-color: white !important;
    border: none;
    text-transform: uppercase;
    color: var(--bgc);
    transition: transform 1s linear;
}

.read-more:hover {
    color: #666666;
}

.posted-date {
    text-align: end;
    font-style: italic;
    color: var(--bgc);
}

.mobile-header {
    position: fixed;
    top: 10px;
    right: 30px;
    font-size: 2em;
    color: var(--textc);
    text-shadow: 0 0 6px var(--cbgc);
    z-index: 2;
}

#mobile-nav {
    position: fixed;
    background-color: var(--cbgc);
    top: 0;
    left: 0;
    z-index: 1;

}

#mobile-nav > ul > li {
    display: block;
    width: 80%;
}

#mobile-nav-after{
    height: 1em;
    background-color: #666666;
}

#mobile-header-wrap {
    perspective: none;
}


/* .cardLink {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    padding-left: 8px;
    opacity: 20%;
    transition: opacity 1s ease;
    z-index: 5;
}

.cardLink:hover {
    opacity: 80%;
} */


.source a {
    font-style: italic;
}

/* .subheading {
    font-size: .8em;
    color: #ddd;
} */

